@model List<TbProduct>


<body>

    <!-- Start All Pages -->
    <div class="all-page-title page-breadcrumb">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Unique Menu</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Pages -->
    <!-- Start Stuff -->
    <div class="stuff-box">
        <div class="container">

            <div class="row">
                @foreach (var item in Model)
                {
                   
                <div class="col-md-4 col-sm-6">
                    
                    <a asp-controller="Details" asp-action="Index" asp-route-id="@item.TbProductId">
                        <div class="our-team">
                            <div class="pic">



                                <img src="@string.Format("/Uploads/{0}", item.ProductImage)">
                                <ul class="social">


                                    <li>
                                        <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.TbProductId" 
                                           class="fa fa-shopping-cart">
                                        </a>

                                    </li>
                                </ul>
                            </div>
                            <div class="team-content">
                                <h3 class="title">@item.ProductName</h3>
                                <span class="post">$@item.ProductPrice</span>

                            </div>
                        </div>
                    </a>

                </div>
                }
                @if (ViewBag.TotalPages > 1)
                {
                    <div class="d-flex w-100 justify-content-center">
                        <pagination page-count="@ViewBag.TotalPages" page-target="/Home/@ViewBag.CategorySlug" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></pagination>
                    </div>
                }
            </div>

        </div>
    </div>
    <!-- End Stuff -->

</body>


